<div class="all-tweet" data-tweet-id={{_id}} data-tweet-username={{username}} data-tweet-creator={{creator}}>
    <h4>@{{username}} {{retweet ../currentUser username}}</h4>
    <h6>{{tweetedBy username creator}}</h6>
    <p>{{content}}</p>
</div>